@mixin coloringDark {
    background-color:  hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
}
@mixin coloringLight {
    background-color:   hsl(0, 0%, 98%);
    color: hsl(235, 19%, 35%);
}
ul {
    @include coloringDark();
    width: 50%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    border-radius: 10px;
    &[data-theme="light"] {
        @include coloringLight();
    }
}
@media(max-width: 750px) {
    ul {
        width: 90%;
    }
}