@mixin coloringDark {
    background-color:  hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
}
@mixin coloringLight {
    background-color:   hsl(0, 0%, 98%);
    color: hsl(235, 19%, 35%);
}
li {
    @include coloringDark();
    list-style: none;
    outline: none;
    $checkbox-size: 50px;
    padding-left: $checkbox-size;
    height: 300px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid hsl(235, 19%, 35%);
    &[data-dark="false"] {
        @include coloringLight();
        border-bottom-color: hsl(234, 39%, 85%);
    }
}