<div 
[attr.data-dark]="dark"
class="todo">
    <div 
    [attr.data-dark]="dark"
    class="completed-container">
        <div 
        [attr.data-dark]="dark"
        class="linear-border">
            <div 
            [attr.data-dark]="dark"
            class="circle-check"
            (click)="onCheck()" 
            [ngClass]="{ completed: todo.completed }">
                <img src="{{todo.completed ? 'assets/icon-check.svg' : ''}}" alt="">
            </div>
        </div>
    </div>
    <li
    (click)="onCheck()" 
    [attr.data-dark]="dark"
    [ngClass]="{ completed: todo.completed }"
    >{{todo.todo}}</li>
</div>
