@mixin coloringDark {
    background-color:  hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
}
@mixin coloringLight {
    background-color:   hsl(0, 0%, 98%);
    color: hsl(235, 19%, 35%);
}
@mixin themeCombined {
    @include coloringDark();
    &[data-dark="false"] {
        @include coloringLight();
    }
}

.todo {
    @include themeCombined();
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsl(235, 19%, 35%);
    
}
li {
    @include themeCombined();
    cursor: pointer;
    list-style: none;
    outline: none;
    padding-left: 30px;
    padding: 1rem;
    display: inline-block;
    &.completed {
        text-decoration: line-through;
        color: hsl(235, 19%, 35%);
    }
   
}
.completed-container {
    $size: 30px;
    width: $size;
    height: $size;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.circle-check {
    cursor: pointer;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    border:hsl(235, 19%, 35%) solid 2px;
    &.completed {
        background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        position: relative;
        &::after {
            content: "";
            position: absolute;
            inset: 5px;
            background-image: url(../../../images/icon-check.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}