<header
[attr.data-theme]="theme" >
    <img class="background" id="desktop"
    src="{{theme === 'dark' ? 'assets/bg-desktop-dark.jpg' : 'assets/bg-desktop-light.jpg'}}" alt="">
    <img class="background" id="mobile"
    src="{{theme === 'dark' ? 'assets/bg-mobile-dark.jpg' : 'assets/bg-mobile-light.jpg'}}" alt="">
    <h1>{{title}}</h1>
    <img
    src="{{theme === 'dark' ? 'assets/icon-moon.svg' : 'assets/icon-sun.svg'}}"
    (click)="handleClick()"
    [attr.data-theme]="theme" 
    id="dark-btn" />
</header>
