header {
    background-image: url(../../../images/bg-desktop-dark.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    h1 {
        font-size: 2rem;
    }
}
#dark-btn {
    $pic-size: 30px;
    width: $pic-size;
    height: $pic-size;
    background-image: url(../../../images/icon-moon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#dark-btn[data-dark="false"] {
    background-image: url(../../../images/icon-sun.svg);
}