header {
    width: 100%;
    height: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    h1 {
        font-size: 2rem;
        letter-spacing: 1rem;
        z-index: 1;
    }
}
.background {
    z-index: 0;
    position: absolute;
    height: 220px;
    inset: 0;
    width: 100%;
} 
#mobile {
    display: none;
}
#dark-btn {
    cursor: pointer;
    $pic-size: 30px;
    width: $pic-size;
    height: $pic-size;
    z-index: 1;
}
@media(max-width: 500px) {
    #mobile {
        display: flex;
    }
    #desktop {
        display: none;
    }
}