<app-header 
[title]="title" 
[dark]="dark"
(onThemeChange)="changeTheme()"
></app-header>
<main>
    <app-form
    [dark]="dark"
    (addTodo)="updateTodos($event)"
    ></app-form>
    <app-todo-list
    [dark]="dark"
    [TodoList]="shownTodoList"
    (onCheck)="handleCheck($event)"
    (onActive)="handleActive()"
    (onAll)="handleAll()"
    (onCompleted)="handleCompleted()"
    (onClear)="handleClear()"
    ></app-todo-list>

    <div 
    [attr.data-dark]="dark"
    class="todo-filter">
        <button
        [attr.data-dark]="dark"
        (click)="handleAll()"
        >All</button>
        <button
        [attr.data-dark]="dark"
        (click)="handleActive()"
        >Active</button>
        <button
        [attr.data-dark]="dark"
        (click)="handleCompleted()"
        >Completed</button>
    </div>
</main>
<div 
[attr.data-dark]="dark" 
class="background"
></div>