main {
    position: absolute;
    top: 200px;
    width: 100%;
}
.background {
    width: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: hsl(235, 21%, 11%);
    &[data-dark="false"] {
        background-color: hsl(236, 33%, 92%);
    }
}