<app-header 
*ngIf="dark$ | async as dark"
[title]="title" 
[dark]="dark"
></app-header>
<main *ngIf="dark$ | async as dark">
    <app-form
    [dark]="dark"
    ></app-form>
    <app-todo-list
    [dark]="dark"
    ></app-todo-list>
    <div 
    [attr.data-dark]="dark"
    class="todo-ux">
        <button
        [attr.data-dark]="dark"
        (click)="allTodos()"
        >All</button>
        <button
        [attr.data-dark]="dark"
        (click)="activeTodos()"
        >Active</button>
        <button
        [attr.data-dark]="dark"
        (click)="completedTodos()"
        >Completed</button>
    </div>
</main>
<div 
*ngIf="dark$ | async as dark"
[attr.data-dark]="dark" 
class="background"
></div>