<app-header 
*ngIf="theme$ | async as theme"
[title]="title" 
[theme]="theme"
></app-header>
<main *ngIf="theme$ | async as theme">
    <app-form
    [theme]="theme"
    ></app-form>
    <app-todo-list
    [theme]="theme"
    ></app-todo-list>
    <div 
    [attr.data-theme]="theme"
    class="todo-ux">
        <button
        [attr.data-theme]="theme"
        (click)="allTodos()"
        >All</button>
        <button
        [attr.data-theme]="theme"
        (click)="activeTodos()"
        >Active</button>
        <button
        [attr.data-theme]="theme"
        (click)="completedTodos()"
        >Completed</button>
    </div>
</main>
<div 
*ngIf="theme$ | async as theme"
[attr.data-theme]="theme" 
class="background"
></div>