@import "../../themes";

.todo-ux {
    @include combineThemes();
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: .7rem;
    width: 100%;
    border-radius: 0 0 5px 5px;
}
.todo-filter {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    button {
        @include combineThemes();
        font-weight: 700;
    }
}
.todo-count {
    padding: 1rem
}
button {
    @include combineThemes();
    border: none;
    padding: 1rem;
}
.todo-filter button {
    @include clickable();
}
.clear-btn {
    @include clickable()
}
@media(max-width: 420px) {
    .todo-ux {
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width: 500px) {
    .todo-filter {
        display: none;
    }
}