@mixin coloringDark {
    background-color:  hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
}
@mixin coloringLight {
    background-color:   hsl(0, 0%, 98%);
    color: hsl(235, 19%, 35%);
}
@mixin clickable {
    &:focus, &:hover {
        cursor: pointer;
        color:  hsl(220, 98%, 61%);
    }
}
@mixin combineThemes {
    @include coloringDark();
    &[data-dark="false"] {
        @include coloringLight();
    }    
}
.todo-ux {
    @include combineThemes();
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: .7rem;
    width: 100%;
}
.todo-filter {
    button {
        @include combineThemes();
    }
}
button {
    @include combineThemes();
    border: none;
    margin: .5rem;
}
.todo-filter button {
    @include clickable();
}
.clear-btn {
    @include clickable()
}