@mixin coloringDark {
    background-color:  hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
}
@mixin coloringLight {
    background-color:  hsl(0, 0%, 98%);
    color: hsl(235, 19%, 35%);
}
@mixin themeCombined {
    @include coloringDark();
    &[data-dark="false"] {
        @include coloringLight();
    }
}
form {
    @include themeCombined();
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
}
button {
    @include themeCombined();
    cursor: pointer;
    border: none;
    margin: 1rem;
}
input[type="text"] {
    @include themeCombined();
    padding-left: 1rem;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
}
