@mixin coloringDark {
    background-color:  hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
}
@mixin coloringLight {
    background-color:  hsl(0, 0%, 98%);
    color: hsl(235, 19%, 35%);
}
form {
    @include coloringDark();
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    &[data-dark="false"] {
        @include coloringLight();
    }
    &[data-dark="false"] input[type="text"] {
        @include coloringLight();
        &:focus {
            @include coloringLight();
        }
    }
    &[data-dark="false"] button {
        @include coloringLight();
    }
}
button {
    cursor: pointer;
    @include coloringDark();
    border: none;
    margin: 1rem;
}
input[type="text"] {
    @include coloringDark();
    padding-left: 1rem;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
}
.checkbox-container {
    @include coloringDark();
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
    }
    input[type="checkbox"]:checked {
        background-image: url(../../../images/icon-check.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
input[type="checkbox"] {
    visibility: hidden;
    &:checked {
        visibility: visible;
        background-image: url(../../../images/icon-check.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
